$main: #1d80dd;
$dark: #242424;

$border: #ccc;

$light-0: #ffffff;
$light-1: #f1f3f5;
$light-2: #eee;
$light-3: #e5e5e5;
$light-4: #dfdfdf;
$light-5: #acacac;
$light-6: #777;
$light-7: #555;

$radius: 5px;

$support: #c00000;
$error: #c00000;
$hate: #e44100;
$green: #00b900;

$sm: 550px;
$lg: 925px;
